<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
  <!-- title -->
  <title>Fancy Store | Electric</title>

  <!-- All CSS  -->
  <%- include('lib_css') %>

</head>

<body>

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->

  <!-- header -->
  <%- include('header') %>
    <!-- end header -->

    <!-- hero area -->
    <div class="hero-area hero-bg">
      <div class="container-fluid container-lg">
        <div class="row">
          <div class="col-12 text-center" style="z-index: 99;">
            <div class="hero-text">
              <div class="hero-text-tablecell">
                <p class="subtitle">your home is your world</p>
                <h1>Make the world shine</h1>
                <div class="hero-btns">
                  <a href="/products" class="boxed-btn">View All Products</a>
                  <a href="https://wa.me/+917044012863" class="bordered-btn">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
          <img src="assets/img/lamp.png" alt="img" width="350" height="350"
            style="position: absolute; bottom: 22%; right: 13%; opacity: 80%; z-index: 2;"
            class="hero-lamp-img align-self-center">
        </div>
      </div>
    </div>
    <!-- end hero area -->

    <!-- features list section -->
    <div class="list-section pt-80 pb-80">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
              <div class="list-icon">
                <i class="fas fa-shipping-fast"></i>
              </div>
              <div class="content">
                <h3>Free Shipping</h3>
                <p>When order over <span style="font-size: 18px;padding-right: 1px;">₹</span>9999</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
              <div class="list-icon">
                <i class="fas fa-phone-volume"></i>
              </div>
              <div class="content">
                <h3>24/7 Support</h3>
                <p>Get support all day</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="list-box d-flex justify-content-start align-items-center">
              <div class="list-icon">
                <i class="fas fa-sync"></i>
              </div>
              <div class="content">
                <h3>Refund</h3>
                <p>Get refund within 3 days!</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end features list section -->

    <!-- product section -->
    <div class="product-section mt-150 mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">Our</span> Products</h3>
            </div>
          </div>
        </div>
        <%- include('productCard') %>
      </div>
    </div>
    <!-- end product section -->

    <!-- cart banner section -->
    <section class="cart-banner pt-100 pb-100">
      <div class="container">
        <div class="row clearfix">
          <!--Image Column-->
          <div class="image-column col-lg-6">
            <div class="image">
              <div class="price-box">
                <div class="inner-price">
                  <span class="price">
                    <strong>30% <br> off</strong>
                  </span>
                </div>
              </div>
              <img src="https://res.cloudinary.com/db31b5psx/image/upload/v1710168657/2108_sr3u2k.jpg" alt="img">
            </div>
          </div>
          <!--Content Column-->
          <div class="content-column col-lg-6">
            <h3><span class="orange-text">Deal</span> of the month</h3>
            <h4>New Trending lamp</h4>
            <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae,
              minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant
            </div>
            <!--Countdown Timer-->
            <div class="time-counter">
              <div class="time-countdown clearfix" data-countdown="2020/2/01">
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>Days</div>
                </div>
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>Hours</div>
                </div>
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>Mins</div>
                </div>
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>Secs</div>
                </div>
              </div>
            </div>
            <a href="https://wa.me/+917044012863" class="cart-btn px-5 mt-3"> Contact</a>
          </div>
        </div>
      </div>
    </section>
    <!-- end cart banner section -->


    <!-- footer -->
    <%- include('footer') %>
      <!-- end footer -->

      <!-- All Scripts  -->
      <%- include('lib_js') %>

        <!-- <script>
          let endDate = null;
          function calculateCountdown(endDate) {
            const now = new Date().getTime();
            const targetDate = new Date(endDate).getTime();
            const timeDifference = targetDate - now;

            if (timeDifference <= 0) {
              return {
                days: 0,
                hours: 0,
                minutes: 0,
                seconds: 0
              };
            }

            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

            return {
              days,
              hours,
              minutes,
              seconds
            };
          }

          function updateCountdown() {
            const endDate = new Date("March 31, 2024 00:00:00").getTime(); 
            const countdown = calculateCountdown(endDate);

            let countdownWrapper = document.querySelectorAll('.count')
            countdownWrapper[0].textContent = countdown.days;
            countdownWrapper[1].textContent = countdown.hours;
            countdownWrapper[2].textContent = countdown.minutes;
            countdownWrapper[3].textContent = countdown.seconds;
            setInterval(updateCountdown, 1000);
          }
            updateCountdown();

        </script> -->

</body>

</html>