<div class="row">
  <% products.forEach(product=> { %>
    <div class="col-lg-4 col-md-6 text-center">
      <div class="single-product-item">
        <div class="product-image">
          <% let prodcutTitle=product.get('title').replace(/\s+/g, '-' ).toLowerCase(); %>
          <div style="position: absolute; right: 25px; top: 7px; font-size: 16px;">
            <a href="https://api.whatsapp.com/send?text=https://fancy-store.vercel.app/<%= prodcutTitle %>/<%= product.get('id') %>" style=" color: #525252;" onmouseover="this.style.color='#F28123';" onmouseout="this.style.color='#525252';">
              <i class="fa fa-share-square"></i>
            </a>
          </div>
            <a href="<%= prodcutTitle %>/<%= product.get('id') %>">
              <img src="<%= product.get('image') %>" alt="img">
            </a>
        </div>
        <h3>
          <%= product.get('title') %>
        </h3>
        <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
            style="font-size: 22px; margin-right: -5px;">₹</span>
          <%= product.get('price') %>
        </h5>
        <a href="https://wa.me/+918902479618?text=I%20am%20interested%20in%20this%20product%0Ahttps://fancy-store.vercel.app/<%= prodcutTitle %>/<%= product.get('id') %>" class="cart-btn px-5">Order Now</a>
      </div>
    </div>
    <% }) %>
</div>