<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

  <!-- title -->
  <title>Fancy Store | Electric - Product</title>

  <!-- All CSS  -->
  <%- include('lib_css') %>

</head>

<body>

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->

  <!-- header -->
  <%- include('header') %>
    <!-- end header -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- single product -->
    <div class="single-product mt-150 mb-150">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="single-product-img">
              <img src="<%= product.get('image') %>" alt="img">
            </div>
          </div>
          <div class="col-md-5">
            <div class="single-product-content">
              <h3>
                <%= product.get('title') %>
              </h3>
              <p style="font-size: 25px; font-weight: 600;"><span
                  style="font-size: 18px; font-weight: 400; margin-right: -5px;">₹</span>
                <%= product.get('price') %>
              </p>
              <p>
                <%= product.get('description') %>
              </p>
              <a href="https://wa.me/+918902479618" class="cart-btn mt-3" style="padding: 10px 80px ;">Get Price</a>

              <h4>Share:</h4>
              <ul class="product-share">
                <li>
                  <span data-platform="facebook" class="share-btn btn" style="font-size: 16px;"><i class="fab fa-facebook-f"></i>
                  </span>
                </li>
                <li>
                  <span data-platform="whatsapp" class="share-btn btn" style="font-size: 18px;"><i class="fab fa-whatsapp"></i>
                  </span>
                </li>
                <li>
                  <span data-platform="instagram" class="share-btn btn" style="font-size: 18px;"><i class="fab fa-instagram"></i>
                  </span>
                </li>
              </ul>
              <p style="font-weight: 400; font-size: 16px; margin-top: 15px;">Category : <span
                  style="font-weight: 400; font-size: 14px; margin-left: 10px;">
                  <%= product.get('category') %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end single product -->

    <!-- more products -->
    <div class="more-products mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">Related</span> Products</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <% let items=products.filter(item=> item.get('category') == product.get('category'));
          let itemsTitle = [];
          items.forEach(item => {
            let itemTi = item.get('title').replace(/\s+/g, '-' ).toLowerCase();
            itemsTitle.push(itemTi);
          });
          let productTitles = [];
          products.forEach(product => {
            let proTitle = product.get('title').replace(/\s+/g, '-' ).toLowerCase();
            productTitles.push(proTitle)
          });
            %>

            <% if (items.length> 2) { %>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                  <div class="product-image">
                    <a href="/<%= itemsTitle[1] %>/<%= items[1].get('id') %>"><img src="<%= items[1].get('image') %>" alt="img"></a>
                  </div>
                  <h3>
                    <%= items[1].get('title') %>
                  </h3>
                  <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                      style="font-size: 22px; margin-right: -5px;">₹</span>
                    <%= items[1].get('price') %>
                  </h5>
                  <a href="https://wa.me/+918902479618" class="cart-btn px-5"></i> Get Price</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                  <div class="product-image">
                    <a href="/<%= itemsTitle[2] %>/<%= items[2].get('id') %>"><img src="<%= items[2].get('image') %>" alt=""></a>
                  </div>
                  <h3>
                    <%= items[2].get('title') %>
                  </h3>
                  <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                      style="font-size: 22px; margin-right: -5px;">₹</span>
                    <%= items[2].get('price') %>
                  </h5>
                  <a href="https://wa.me/+918902479618" class="cart-btn px-5"></i> Get Price</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
                <div class="single-product-item">
                  <div class="product-image">
                    <a href="/<%= itemsTitle[3] %>/<%= items[3].get('id') %>"><img src="<%= items[3].get('image') %>" alt=""></a>
                  </div>
                  <h3>
                    <%= items[3].get('title') %>
                  </h3>
                  <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                      style="font-size: 22px; margin-right: -5px;">₹</span>
                    <%= items[3].get('price') %>
                  </h5>
                  <a href="https://wa.me/+918902479618" class="cart-btn px-5"></i> Get Price</a>
                </div>
              </div>
              <% } else { %>
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="single-product-item">
                    <div class="product-image">
                      <a href="/<%= productTitles[1] %>/<%= products[1].get('id') %>"><img src="<%= products[1].get('image') %>" alt="img"></a>
                    </div>
                    <h3>
                      <%= products[1].get('title') %>
                    </h3>
                    <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                        style="font-size: 22px; margin-right: -5px;">₹</span>
                      <%= products[1].get('price') %>
                    </h5>
                    <a href="https://wa.me/+918902479618" class="cart-btn px-5"></i> Get Price</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="single-product-item">
                    <div class="product-image">
                      <a href="/<%= productTitles[2] %>/<%= products[2].get('id') %>"><img src="<%= products[2].get('image') %>" alt="img"></a>
                    </div>
                    <h3>
                      <%= products[2].get('title') %>
                    </h3>
                    <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                        style="font-size: 22px; margin-right: -5px;">₹</span>
                      <%= products[2].get('price') %>
                    </h5>
                    <a href="https://wa.me/+918902479618" class="cart-btn px-5"></i> Get Price</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
                  <div class="single-product-item">
                    <div class="product-image">
                      <a href="/<%= productTitles[3] %>/<%= products[3].get('id') %>"><img src="<%= products[3].get('image') %>" alt="img"></a>
                    </div>
                    <h3>
                      <%= products[3].get('title') %>
                    </h3>
                    <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                        style="font-size: 22px; margin-right: -5px;">₹</span>
                      <%= products[3].get('price') %>
                    </h5>
                    <a href="https://wa.me/+918902479618" class="cart-btn px-5"></i> Get Price</a>
                  </div>
                </div>
                <% } %>

        </div>
      </div>
    </div>
    <!-- end more products -->

    <!-- footer -->
    <%- include('footer') %>
      <!-- end footer -->

      <!-- All Scripts  -->

      <%- include('lib_js') %>

        <script>

          const shareButtons = document.querySelectorAll('.share-btn');

          shareButtons.forEach(function (button) {
            button.addEventListener('click', function () {
              const platform = this.getAttribute('data-platform');
              shareOnSocialMedia(platform);
            });
          });

          function shareOnSocialMedia(platform) {
            let url = window.location.href;

            switch (platform) {
              case 'whatsapp':
                window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(url));
                break;
              case 'facebook':
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(url));
                break;
              case 'instagram':
                window.open('https://www.instagram.com/');
                break;
              default:
                break;
            }
          }

          shareOnSocialMedia()

        </script>

</body>

</html>