<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

  <!-- title -->
  <title>Fancy Store | Products</title>

  <!-- All CSS  -->
  <%- include('lib_css') %>

</head>

<body>

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->

  <!-- header -->
  <%- include('header') %>
  <!-- end header -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- products -->
  <div class="product-section mt-5 mb-5">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="text-center mb-5">
            <h3>All Products</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <% products.forEach(product=> { %>
          <div class="col-lg-4 col-md-6 text-center allProducts">
            <div class="single-product-item">
              <div class="product-image">
                <% let prodcutTitle=product.get('title').replace(/\s+/g, '-' ).toLowerCase(); %>
                <a href="<%= prodcutTitle %>/<%= product.get('id') %>">
                  <img src="<%= product.get('image') %>" alt="img">
                </a>
              </div>
              <h3>
                <%= product.get('title') %>
              </h3>
              <h5 class="fw-bold" style="font-size: 26px; font-weight: 400;"><span
                  style="font-size: 22px; margin-right: -5px;">₹</span>
                <%= product.get('price') %>
              </h5>
              <a href="https://wa.me/+918902479618" class="cart-btn px-5">Get Price</a>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
  <!-- end products -->

  <!-- footer -->
  <%- include('footer') %>
  <!-- end footer -->

  <!-- All Scripts  -->
  <%- include('lib_js') %>

  <script>

  </script>

</body>

</html>